<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>
  {% include head.html %}
</head>

<body>
  <div class="site-container">
    <header class="site-header">
      {% include header.html %}
    </header>
    <div class="site-body wrapper">
      <aside class="site-sidebar" id="site-sidebar">
        {% include sidebar.html %}
      </aside>
      <main class="site-main" aria-label="Content">
        {{ content }}
        <footer class="site-footer">
          {% include footer.html %}
        </footer>
      </main>
    </div>
  </div>
</body>
<!-- body 최하단 -->
<script src="{{ '/assets/js/InfiniteScroll.js' | relative_url }}"></script>
<script>
  const postWrapper = ".post-list";
  const paginatePath = "/page/"; // page가 아니라 post로 해줘야하지 않을까?
  new InfiniteScroll(paginatePath, postWrapper)
</script>

</html>